## [Pandas](https://pandas.pydata.org/pandas-docs/stable/#0)

Pandas provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language

可以想成程式裡用的excel，讓你更好的瀏覽、整理資料

In [1]:
import pandas
import pandas as pd  #習慣上使用pd作為pandas的縮寫

建立資料（事前準備）

In [2]:
#例題
names = ['Bob','Jessica','Mary','John','Mel', 'Jim']
births = [968, 155, 77, 578, 973, 968 ]

BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968),
 ('Jessica', 155),
 ('Mary', 77),
 ('John', 578),
 ('Mel', 973),
 ('Jim', 968)]

In [3]:
#演練 跟上面一樣把線面的資料作成對應好的list
#Class_num：['8P5-3','8LL-1','8P5-B','8P3-SA','8P3-B','8P5-2','8P5-1']
#Day：['Monday','Monday','Monday','Monday','Tuesday','Tuesday','Wednesday']
#變數命名為class_data

**DataFrame()** 利用建立的資料做成資料表 (list, numpy array, dictionary)

In [4]:
#例題
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
5      Jim     968

In [5]:
#演練：將前面的class_data利用上述方法製作dataframe 命名為class_df

其他dataframe的建立方法

In [6]:
df = pd.DataFrame(data={'names' : ['Bob','Jessica','Mary','John','Mel', 'Jim'],
                            'births': [968, 155, 77, 578, 973, 968 ]})
df

     names  births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
5      Jim     968

In [7]:
#演練：將前面的class_data利用上述方法製作dataframe 命名為class_df

**df[column_name] =** 可以直接增加df的欄位

In [8]:
#例題
df['gender'] = ['male','female','female','male','female','male']
df

     names  births  gender
0      Bob     968    male
1  Jessica     155  female
2     Mary      77  female
3     John     578    male
4      Mel     973  female
5      Jim     968    male

In [9]:
#演練 把第幾節課的資料加進資料表裡
#Period: ['P1','P2','P7','P8','P3','P6','P1']

**df.append** 可以增加一筆資料進到dataframe

In [10]:
#例題
df = df.append({'births':123,'gender':'male','names':'Harry'},ignore_index=True)
df

     names  births  gender
0      Bob     968    male
1  Jessica     155  female
2     Mary      77  female
3     John     578    male
4      Mel     973  female
5      Jim     968    male
6    Harry     123    male

In [11]:
#演練 增加一個新的班級 8P3-S1, Wednesday, P2

**df.drop** 用index去指定要移除的行/列

In [12]:
df = df.drop(5)
df

     names  births  gender
0      Bob     968    male
1  Jessica     155  female
2     Mary      77  female
3     John     578    male
4      Mel     973  female
6    Harry     123    male

In [13]:
#請注意df.drop本身不會存擋，不像remove
df.drop('names',axis=1)

   births  gender
0     968    male
1     155  female
2      77  female
3     578    male
4     973  female
6     123    male

In [14]:
#演練 把剛剛加入的那一行從class_df中刪除

**to_csv()** 將資料表存成csv檔

In [15]:
#例題
df.to_csv("../data/birth_data.csv", index=False)

In [16]:
#演練
#把class_df存成class_data.csv

**read_csv** 讀取 csv

In [17]:
#例題
df = pd.read_csv("../data/birth_data.csv")
df

     names  births  gender
0      Bob     968    male
1  Jessica     155  female
2     Mary      77  female
3     John     578    male
4      Mel     973  female
5    Harry     123    male

In [18]:
#演練 讀取class_data.csv,命名為class_data

## \>>>>>>我是分隔線<<<<<<<<

**dataframe.head()**：觀察前五列

**dataframe.tail()**:觀察末五列

In [19]:
df.head(2)

     names  births  gender
0      Bob     968    male
1  Jessica     155  female

In [20]:
df.tail(2)

   names  births  gender
4    Mel     973  female
5  Harry     123    male

建立資料（事前準備，這段看不懂可以跳過）

In [2]:
import pandas as pd

In [3]:
import numpy as np
# set seed
np.random.seed(111)

# Function to generate test data
def CreateDataSet(Number=1):
    Output = []
    for i in range(Number):
        # Create a weekly (mondays) date range
        rng = pd.date_range(start='1/1/2009', end='12/31/2012', freq='W-MON')
        
        # Create random data
        data = np.random.randint(low=25, high=1000, size=len(rng))
        
        # Status pool
        status = [1,2,3]
        
        # Make a random list of statuses
        random_status = [status[np.random.randint(low=0, high=len(status))] for i in range(len(rng))]
        
        # State pool
        states = ['GA','FL','fl','NY','NJ','TX']
        
        # Make a random list of states 
        random_states = [states[np.random.randint(low=0, high=len(states))] for i in range(len(rng))]
    
        Output.extend(zip(random_states, random_status, data, rng))
        
    return Output
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset, columns=['State','Status','CustomerCount','StatusDate'])
df.head()

  State  Status  CustomerCount StatusDate
0    GA       1            877 2009-01-05
1    FL       1            901 2009-01-12
2    fl       3            749 2009-01-19
3    FL       3            111 2009-01-26
4    GA       1            300 2009-02-02

**df [column name]** 只挑選某一欄的值出來

In [ ]:
#例題
df['State'].head()

也可以用 **df.column name** 達到相同效果

In [ ]:
df.State.head()

In [ ]:
#演練 抓出StatusDate的前五項

**unique()** :找出獨特的值/內容

In [ ]:
#例題
df["State"].unique()

In [ ]:
#演練 抓出Status的獨特值

**value_counts()** :找出每個獨特值出現的次數

In [ ]:
#例題
df["State"].value_counts()

In [ ]:
#演練 計算出各種Status各出現了幾次，並回傳平均值

**df.info()** 呈現資料表資料型態

In [ ]:
df.info()

**df.describe()** 呈現資料表基本統計資料

In [ ]:
df.describe()

## \>>>>>>我是分隔線<<<<<<<<

透過判斷式建立篩選器：

1.利用 df.State == 'FL' 建立一個true false的列表

2.再用df.loc[true false的列表]去篩選出True的項目

註：".loc"可忽略，可以簡寫成df[true false的列表] 結果會一樣

In [ ]:
(df.State=='FL').head(10)

In [ ]:
#例題
df[df.State == 'FL'].head(10)

In [ ]:
#演練 找出CustomerCount為顧客數大於500的資料

In [ ]:
df[df.CustomerCount >500].shape

篩選器可以用複數條件，利用 & 跟 | 來串連多個條件

In [ ]:
#例題
df.loc[(df.State == 'FL') & (df['Status'] == 3)].head(10)

In [ ]:
#演練：找出所有State不在FL，且Status為2或3的資料

在True False的列表前面加上"~"可以反轉所有的True,False結果

**pd.concat** 將兩個 df 連接（往下連結）

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

In [ ]:
df1

In [ ]:
df2

In [ ]:
## 例題 垂直接上 dataframe
result = pd.concat([df1, df2],axis=0)
result

In [ ]:
## 演練 垂直接上 2組class_df

**pd.merge** 將兩個 df 連接（往左右連結）

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K3', 'K1', 'K2', 'K0'],
                       'C': ['C3', 'C1', 'C2', 'C0'],
                       'D': ['D3', 'D1', 'D2', 'D0']})

In [ ]:
left

In [ ]:
right

In [ ]:
result = pd.merge(left, right, on='key')
result

## Homework

In [ ]:
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

Q1. 利用上方data建立資料表

Q2. 用 **describe** 呈現資料表的基本統計資料

Q3. 從資料表選出 **'animal'** and **'age'** 兩欄

Q4. 篩選出所有是 "dog" 的資料

Q5.利用data2建立一個新的資料表，並將data,data2合併，並計算各種動物各有幾筆資料  Hint：利用pd.concat(), value_counts()

In [ ]:
data2 = {'animal': ['dolphin', 'snake', 'mouse', 'mouse', 'bird'],
        'age': [ 4.5, np.nan,12, 7, 3],
        'visits': [3, 6, 1, 1, 2],
        'priority': ['no', 'yes', 'no', 'yes', 'yes']}