# Learn to google
因為不可能在課堂中教完所有套件的功能，因此請多多利用google來學習（建議可以用英文就用英文查詢）

學習資源以：知乎、stackoverflow、官方文件優先參考，CSDN、其他部落格品質比較參差不齊，但多數情況下還是可以參考利用

在寫code的過程中會遇到兩種狀況：

1.我知道function名字是什麼，但我忘記怎麼用

2.我知道我想要做什麼事情，但是我不知道什麼function才做得到

下面會針對這兩種狀況各舉幾個例子，請自行google想辦法完成問題

### 1.我知道function名字是什麼，但我忘記怎麼用

In [64]:
#示範題1 利用random套件包裡的random.choice從name_list隨機取出一個項目
import random

name_list = ['小明','小華','小美']

print(random.choice(name_list))

小明

#### Homework 第一題
利用np.argsort找出num_list中第5大數值的在原陣列裡的位置

In [28]:
num_list = np.random.randint(0,100,10)
num_list

array([80, 91, 37, 53,  2, 88, 24, 26, 99, 11])

#### Homework 第二題
用groupby.mean()計算每個人的平均成績

In [29]:
import pandas as pd
df = pd.DataFrame({'名字' : ['小明', '小華', '小美', '小明',
                      '小華', '小美','小明', '小華', '小美'],
                   '成績' : np.random.randint(50,100,9)})
df

   名字  成績
0  小明  77
1  小華  59
2  小美  96
3  小明  66
4  小華  88
5  小美  73
6  小明  96
7  小華  80
8  小美  52

### 2.我知道我想要做什麼事情，但是我不知道什麼function才做得到

In [68]:
#示範題2 把zip_code_dict裡面的key跟value互換 （用數字查名字 >> 用名字查數字）
zip_code = [100,103,104,105,106,108,110,111,112,114,115,116]
area_name = ['台北市中正區','台北市大同區','台北市中山區','台北市松山區','台北市大安區','台北市萬華區',
             '台北市信義區','台北市士林區','台北市北投區','台北市內湖區','台北市南港區','台北市文山區']
zip_code_dict = dict(zip(zip_code,area_name))

#### Homework 第三題
把text內的所有大寫字母改成小寫

In [ ]:
text = 'Hello World! Do NOT individually replace EACH oF the DIFFERENT CHaracTERs, THanK yoU!'

#### Homework 第四題
上次提到datetime的時間差只能以天呈現

請找別的方式用年、月、日的方式呈現 （去找套件解決不要自己算）

第一次世界大戰結束~第二次世界大戰開始間隔多久？

#### Homework 第五題
將工務段、方向、詳細類群做one hot encoding（一位有效編碼 )

In [33]:
rdkill_data = pd.read_csv('roadkill_data.csv',encoding = "utf-8")